.centro{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    text-align: justify;
}

.price {
    font-weight: bold;
}
.general{
    background-color: rgb(255, 202, 8);
}
#nav{
    background-color: rgb(14, 5, 36) !important;
}